body {
    background: #1a1919;
}

.dgnxx-ul {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 12;
    display: block;
    /* color: coral; */
}


.dgnxx-ul-li {
    float: left;
    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dgnxx-ul-li-div {
    float: left;
}

.dgnxx-ul-li-div {
    color: #ffffff;
    font-size: 19px;
    position: relative;
    top: 210px;
    left: 80px;
    font-family: DFPKingGothicGB-Medium;
    letter-spacing: 1.2px;
    display: block;

}

.dgnxx-ul-li:hover .dgnxx-ul-li-div {
    overflow: hidden;
    /* transition: all 5s; */
    top: 250px;
    display: none;
}

.dgnxx-ul-li-div :last-child {
    font-size: 16px;
    color: #838383;
    padding-top: 8px;
}


.dgnxx-ul-li-div-1 {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 90px;
    left: 80px;
    font-family: DFPKingGothicGB-Medium;
    letter-spacing: 1.2px;
    display: none;
}

.dgnxx-ul-li:hover .dgnxx-ul-li-div-1 {
    display: block;
}

.dgnxx-ul-li-div-1 :last-child {
    font-size: 16px;
    color: #838383;
    padding-top: 8px;
    letter-spacing: 3.2px;
}




.dgnxx-ul-li-div-2 {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 90px;
    left: 80px;
    font-family: DFPKingGothicGB-Medium;
    letter-spacing: 1.2px;
    display: none;

}

.dgnxx-ul-li:hover .dgnxx-ul-li-div-2 {
    display: block;
}

.dgnxx-ul-li-div-2-h a {
    color: #f3f3f3;
    font-size: 16px;
    float: left;
    padding-top: 24px;
    font-weight: 500;
}

.dgnxx-ul-li-div-2-h-1 {
    margin-top: 76px;

}




/* 出行服务 */

.dgnxx-ul-cxfw {
    width: 100%;
    height: 176px;

    display: none;
}

.dgnxx-ul-li-div-2-h-1:hover .dgnxx-ul-cxfw {
    display: block;
}

.dgnxx-ul-cxfw span {
    float: left;
    width: 110px;
    padding-top: 14px;
    font-size: 12px;
    color: #909090;

}

.dgnxx-ul-cxfw-1,
.dgnxx-ul-cxfw-2 {
    margin-top: 22px;
}

.dgnxx-ul-cxfw span:hover {
    color: #d27b48;
}

.dgnxx-ul-li-div-2-h-2 {
    margin-top: 0px;
}





.fhdd {
    position: relative;
    width: 50px;
    height: 132px;
    top: 30px;
    left: 1476px;
}

.fhdd a {
    float: left;
    width: 30px;
    height: 30px;
    /* background-color: darkmagenta; */
}

.fhdd a img {
    width: 20px;
}