.headers {
    position: fixed;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    padding-top: 20px;
    left: 0;
    top: 0;
}

.headers h1 {
    width: 94%;
    margin: 0 auto;
    height: 38px;
    line-height: 38px;
}

.x1 a {
    position: relative;
}

.x1 a img {
    display: inline-block;
    width: 90px;
    height: 45px;
    vertical-align: middle;
}

.x1-zyzh,
.x1-zhsvg {
    position: relative;
    float: right;
    line-height: 38px;
}

.x1-zhsvg a img {

    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.x1-zyzh {
    width: 110px;
    height: 38px;
}

.en-tag,
.ch-tag {
    font-size: 14px;
    color: #333333;
    font-weight: initial;
}

.ch-tag {
    margin-left: 4px;
    color: #b1b1b1;
}


.title {
    position: relative;
    width: 100%;
    height: 754px;
}

.title img {
    width: 100%;
    height: 100%;
}




.dyh {
    width: 34%;
    padding-top: 34%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -17%;
    margin-top: -17%;
    border: 3px solid hsla(0, 0%, 100%, .4);
    border-radius: 50%;
}

.title-zt {
    color: #fff;
    font-size: 26px;
    position: absolute;
    top: 37%;
    left: 32%;
}


.title a {
    position: absolute;
    top: 67%;
    left: 47%;
}

.title a img {
    width: 38.4%;
    margin-right: 16px;
}

.title a span {
    color: #fff;
}







/* 第二部分 */
.not2 {
    width: 100%;
    padding: 60px 5%;
}

.nt-title {
    height: 48px;
    width: 100%;
}

.nt-title h3 {
    font-size: 23px;
    float: left;
    line-height: 48px;
    font-weight: 400;
}

.ipt {
    position: relative;
    float: right;
    top: 0;
    right: 10%;
    width: 386px;
}

.ipt img {
    position: absolute;
    top: 50%;
    left: 4.7%;
    width: 20px;
    height: 17px;
    margin-top: -8.5px;
}

.ipt input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 17px 5.5% 17px 12.5%;
    line-height: 16px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 100px;
    font-size: 17.6px;
    color: #bababa;
}

.qbnf {
    width: 90%;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    padding-top: 35px;
}

.qbnf i {
    background-image: url(../img/left-ico.351c6aea.svg);
    float: right;
    width: 8px;
    width: 10px\9;
    height: 18px;
    background-size: 100%;
    cursor: pointer;
    margin-top: 9.6px;
    background-repeat: no-repeat;
}

.qbnf span {
    float: right;
    margin-left: 12px;
}

.szt {
    width: 100%;
}

.szt ul {
    width: 93%;
    overflow: hidden;
}

.szt ul>li {
    width: 33%;
    float: left;
    padding: 0 35px 46px 0;
    box-sizing: border-box;
}

.gszt {
    display: block;
    width: 100%;
}

.gszt img {
    width: 100%;
}

.gszt h3 {
    font-size: 16.13333333px;
    color: #555;
    line-height: 2.27;
    margin-top: 3.6%;
    margin-bottom: .5%;
    font-weight: 400;
}

.gszt span {
    font-size: 18.4px;
    color: #666;
}

.szt-1 {
    border-bottom: 1px solid #e9e9e9;
}

.szt-2 {
    padding-top: 55px;
}


.lbz {
    width: 90%;
    text-align: center;
}

.lbz span {
    display: inline-block;
    height: 50px;
    padding: 0 25px;
    font-size: 16px;
}

.lbz span:nth-of-type(1) {
    color: #f08d54;
}

.lbz i:first-child {
    background-image: url(../upload/left-ico.351c6aea\ \(2\).svg);
    opacity: .35;
    cursor: no-drop;
    border: none;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 50%;
    background-size: 35%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 30px;
}

.lbz i:last-child {
    background-image: url(../upload/right-ico.66f6eecf\ \(1\).svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    background-size: 35%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 30px;
}

.zhzt {
    font-size: 13.8px;
    color: #c4c4c4;
    padding-top: 76px;
}


/* 尾部栏 */
.wbl {
    position: relative;
    top: 0;
    width: 100%;
    height: 760px;
    border-top: 1px solid #7f7f7f;
    background-color: #333333;
}

.wbl-kf {
    width: 1218px;
    height: 170px;
    margin: 0 auto;
    margin-top: 120px;
    border-bottom: 1px solid #4e4e4e;
}

.wbl-kf-z {
    width: 852px;

    height: 100%;
    float: left;
}

.wbl-kf-gz {
    width: 365px;
    height: 100%;
    float: right;
}

.wbl-kf-z p {
    font-size: 18px;
    color: #adadad;
    padding-bottom: 26px;
    font-weight: 500;
}

.wbl-kf-z span {
    float: left;
    width: 300px;
    color: #adadad;
    font-size: 15px;
    margin-bottom: 14px;
}

.wbl-gz {
    width: 100%;
    float: left;
    height: 100px;
}

.wbl-kf-gz h2,
.wbl-kf-gz-1 {
    font-size: 18px;
    color: #adadad;
    float: left;
    padding-bottom: 20px;
    width: 182px;
}

.wbl-kf-gz-1:hover {
    color: #adadad;

}

.wbl-gz a {

    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.wbl-gz span {
    float: left;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50%;
}

.wbl-gz-1 {

    background-image: url(../img/contact-ico811be5f7.svg);
}

.wbl-gz-2 {
    background-image: url(../img/contact-ico2d73e1dc8.svg);
}

.wbl-gz-3 {
    background-image: url(../img/contact-ico3ce320b40.svg);
}

.wbl-gz-4 {
    background-image: url(../img/contact-ico4643efb7.svg);

}

.wbl-gz-5 {
    background-image: url(../img/contact-ico5dade4f07.svg);
}


.wbl-gz-2wm {
    width: 180px;
    height: 192px;
    background-color: #fff;
    position: relative;
    top: 40px;
    left: -72px;
    border-radius: 4px;
    box-shadow: 0 2px 10px #aaa;
    display: none;
}

.wbl-gz-2 {
    display: block;
}

.wbl-gz-2:hover .wbl-gz-2wm {
    display: block;

}

.wbl-gz-2wm img {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 10%;
    left: 15%;
}

.wbl-gz-2wm h4 {
    position: absolute;
    left: 62px;
    bottom: 24px;
    color: #767676;
}

/* 下面文字加二维码 */
.wbl-wzxs-2wm {
    width: 1218px;
    height: 194px;
    margin: 0 auto;
    margin-top: 58px;
}

.wbl-wzxx {
    float: left;
    margin-right: 3%;
    color: #adadad;
}

.wbl-wzxx dt {
    font-size: 18px;
    margin-bottom: 16px;
}


.wbl-wzxx dd {
    line-height: 1.5;
    position: relative;
    font-size: 15px;
}

.wbl-wzxx dd a {
    color: #adadad;
}

.wbl-2wm {
    float: right;
    width: 30%;
    margin-right: 0;
}

.wbl-2wm dt {
    color: #adadad;
    font-size: 18px;
    margin-bottom: 16px;
}

.wbl-2wm-app {
    float: left;
    width: 25.2%;
    margin-right: 12%;
    text-align: center;
    opacity: .3;
    line-height: 16px;
}

.wbl-2wm-app:hover {
    opacity: 1;
}

.wbl-2wm-app img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0 0 16px;
}

.wbl-2wm-app-001 {
    margin-right: 0%;
}

.wbl-2wm-app p {
    font-size: 15px;
    color: #adadad;
}

.wbl-wzxx-cxfw {
    height: 224px;
    font-size: 12px;
    line-height: 1.86;
    overflow: hidden;
    height: 0;
    color: #858585;
    transition: height .3s;
}

.wbl-wzxx-cxfw:first-child {
    margin-top: 13px;
}

.wbl-wzxx-cxfw li:hover {
    color: #fc9153;
}

.wbl-wzxx-cxfw-yd:hover .wbl-wzxx-cxfw {
    height: 224px;
}



.wxgngddx {
    width: 812px;
    height: 56px;
    position: absolute;
    bottom: 10%;
}

.njftpb {
    width: 28px;
    height: 56px;
    float: left;
}

.njftpb img {
    width: 100%;
    margin-top: 10px;
}

.wxgngddx p {
    float: left;
    font-size: 14px;
    outline: none;
    color: #adadad;
    cursor: pointer;
    margin-left: 10px;
}

.lghjfghd::before {
    display: block;
    content: "";
    background-image: url(../img/beiand0289dc0.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    background-size: 100%;
    left: 38px;
}