.headers {
    position: fixed;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    padding-top: 20px;
    left: 0;
    top: 0;
}

.headers h1 {
    width: 94%;
    margin: 0 auto;
    height: 38px;
    line-height: 38px;
}

.x1 a {
    position: relative;
}

.x1 a img {
    display: inline-block;
    width: 90px;
    height: 45px;
    vertical-align: middle;
}

.x1-zyzh,
.x1-zhsvg {
    position: relative;
    float: right;
    line-height: 38px;
}

.x1-zhsvg a img {

    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.x1-zyzh {
    width: 110px;
    height: 38px;
}

.en-tag,
.ch-tag {
    font-size: 14px;
    color: #333333;
    font-weight: initial;
}

.ch-tag {
    margin-left: 4px;
    color: #b1b1b1;
}











/* 尾部栏 */
.wbl {
    position: relative;
    top: 0;
    width: 100%;
    height: 760px;
    border-top: 1px solid #7f7f7f;
    background-color: #333333;
}

.wbl-kf {
    width: 1218px;
    height: 170px;
    margin: 0 auto;
    margin-top: 120px;
    border-bottom: 1px solid #4e4e4e;
}

.wbl-kf-z {
    width: 852px;

    height: 100%;
    float: left;
}

.wbl-kf-gz {
    width: 365px;
    height: 100%;
    float: right;
}

.wbl-kf-z p {
    font-size: 18px;
    color: #adadad;
    padding-bottom: 26px;
    font-weight: 500;
}

.wbl-kf-z span {
    float: left;
    width: 300px;
    color: #adadad;
    font-size: 15px;
    margin-bottom: 14px;
}

.wbl-gz {
    width: 100%;
    float: left;
    height: 100px;
}

.wbl-kf-gz h2,
.wbl-kf-gz-1 {
    font-size: 18px;
    color: #adadad;
    float: left;
    padding-bottom: 20px;
    width: 182px;
}

.wbl-kf-gz-1:hover {
    color: #adadad;

}

.wbl-gz a {

    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.wbl-gz span {
    float: left;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50%;
}

.wbl-gz-1 {

    background-image: url(../img/app-关注计划/contact-ico.811be5f7.svg);
}

.wbl-gz-2 {
    background-image: url(../img/app-关注计划/contact-ico2.d73e1dc8.svg);
}

.wbl-gz-3 {
    background-image: url(../img/app-关注计划/contact-ico3.ce320b40.svg);
}

.wbl-gz-4 {
    background-image: url(../img/app-关注计划//contact-ico4.0643efb7.svg);

}

.wbl-gz-5 {
    background-image: url(../img/app-关注计划/contact-ico5.dade4f07.svg);
}

.wbl-gz-2wm {
    width: 180px;
    height: 192px;
    background-color: #fff;
    position: relative;
    top: 40px;
    left: -72px;
    border-radius: 4px;
    box-shadow: 0 2px 10px #aaa;
    display: none;
}

.wbl-gz-2 {
    display: block;
}

.wbl-gz-2:hover .wbl-gz-2wm {
    display: block;

}

.wbl-gz-2wm img {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 10%;
    left: 15%;
}

.wbl-gz-2wm h4 {
    position: absolute;
    left: 62px;
    bottom: 24px;
    color: #767676;
}

/* 下面文字加二维码 */
.wbl-wzxs-2wm {
    width: 1218px;
    height: 194px;
    margin: 0 auto;
    margin-top: 58px;
}

.wbl-wzxx {
    float: left;
    margin-right: 3%;
    color: #adadad;
}

.wbl-wzxx dt {
    font-size: 18px;
    margin-bottom: 16px;
}


.wbl-wzxx dd {
    line-height: 1.5;
    position: relative;
    font-size: 15px;
}

.wbl-wzxx dd a {
    color: #adadad;
}

.wbl-2wm {
    float: right;
    width: 30%;
    margin-right: 0;
}

.wbl-2wm dt {
    color: #adadad;
    font-size: 18px;
    margin-bottom: 16px;
}

.wbl-2wm-app {
    float: left;
    width: 25.2%;
    margin-right: 12%;
    text-align: center;
    opacity: .3;
    line-height: 16px;
}

.wbl-2wm-app:hover {
    opacity: 1;
}

.wbl-2wm-app img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0 0 16px;
}

.wbl-2wm-app-001 {
    margin-right: 0%;
}

.wbl-2wm-app p {
    font-size: 15px;
    color: #adadad;
}

.wbl-wzxx-cxfw {
    height: 224px;
    font-size: 12px;
    line-height: 1.86;
    overflow: hidden;
    height: 0;
    color: #858585;
    transition: height .3s;
}

.wbl-wzxx-cxfw:first-child {
    margin-top: 13px;
}

.wbl-wzxx-cxfw li:hover {
    color: #fc9153;
}

.wbl-wzxx-cxfw-yd:hover .wbl-wzxx-cxfw {
    height: 224px;
}




.zxbf {
    width: 100%;
    padding: 130px 10% 50px;
    box-sizing: border-box;
}

.zxbf-title {
    font-size: 23px;
    color: #666;
    line-height: 48px;
    font-weight: 400;
}


.ltp {
    width: 100%;
    padding-top: 36px;
    position: relative;
}

.xg1 {
    width: 100%;
    overflow: hidden;
    padding-bottom: 62px;
    border-bottom: 1px solid #efefef;
}

.xg2 {
    padding-top: 54px;
}

.ltp ul {
    width: 100%;
    overflow: hidden;
}

.ltp ul>li {
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 35px 46px 0;

}

.ltp-1 {
    display: block;
    width: 100%;
}

.ltp-1 i {
    background-image: url(../upload/下载.png);
    background-repeat: no-repeat;
    height: 38.5px;
    width: 38.5px;
    display: block;
    position: absolute;
    right: 44px;
    bottom: 86px;
    background-size: 100%;
}

.ltp-1 img {
    width: 100%;
}

.ltp-1 img:hover {
    box-shadow: 0 25px 40px 2px rgba(48, 48, 48, .25);
}

.ltp-1 p {
    margin-top: 10px;
    font-size: 18.4px;
    color: #666;

}


.lbz {
    width: 100%;
    text-align: center;
}

.lbz span {
    display: inline-block;
    height: 50px;
    padding: 0 25px;
    font-size: 16px;
}

.lbz span:nth-of-type(1) {
    color: #f08d54;
}

.lbz i:first-child {
    background-image: url(../upload/left-ico.351c6aea\ \(2\).svg);
    opacity: .35;
    cursor: no-drop;
    border: none;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 50%;
    background-size: 35%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 30px;
}

.lbz i:last-child {
    background-image: url(../upload/right-ico.66f6eecf\ \(1\).svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    background-size: 35%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 30px;
}


.zxbf ul {
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
}

.zxbf ul>li {
    width: 33%;
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 35px 46px 0;
}

.zxbf-sp {
    width: 100%;
    display: block;
}

.zxbf-sp img {
    width: 100%;
}

.zxbf-sp img:hover {
    box-shadow: 8px 16px 14px 2px rgba(48, 48, 48, .25);
}

.mcl {
    margin-top: 10px;
    font-size: 18.4px;
    color: #666;
}



.syq {
    position: relative;
    padding-left: 162px;
    margin-top: 22px;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.syq::before {
    content: "";
    width: 4px;
    height: 39px;
    position: absolute;
    left: 156px;
    top: 0;
    background: #9b9b9b;
}

.syq h3 {
    font-size: 18px;
    letter-spacing: 1.2px;
    color: #666;
}

.syq p {
    margin-top: 8px;
    font-size: 13px;
    letter-spacing: .8px;
    color: #6c6c6c;
}

/* diu  */